/* minor CSS reset */
/* You should not need to change anything here */
html,
body,
div,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* ADD CSS BELOW */

body {
  margin: 20px;
}

h1,
h2 {
  text-align: center;
  font-family: 'bangers';
}

h1 {
  font-size: xx-large;
  margin-bottom: 20px;
}

h2 {
  font-size: large;
  margin-bottom: 15px;
}

.row {
  list-style: none;
  display: flex;
  flex: 0 auto;
  justify-content: space-around;
  align-items: center;
}

.col {
  padding: 15px;
  background-color: lightgray;
  border: 2px dashed;
}

.image {
  height: 200px;
  
  
}
