/* minor CSS reset */
/* You should not need to change anything here */
html,
body,
div,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body{
  font-family: 'bangers';
  margin: 15px;
}
h1{
  text-align: center;
  font-size: xx-large;
  margin-bottom: 20px;
}
h2{
  font-size: x-large;
}
h3{
  font-size: large;
  text-align: center;
}
.row{
  list-style: none;
  display: flex;
}
.box{
  padding: 15px;
  background-color: lightgray;
  border: 2px dashed;
  margin: 10px;

}
img{
  border-radius: 4px;
  height: 100px;
}
